* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  background-color: rgb(218, 199, 199);
}
img {
  position: absolute;
  top: 260px;
  right: 7rem;
  height: 400px;
  width: 400px;
  border-radius: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  position: absolute;
  top: 200px;
  left: 200px;
}
div h2 {
  font-size: 60px;
  color: black;
}
.input1 {
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(125, 20, 20);
  padding-left: 25px;
}
.input2 {
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(125, 20, 20);
  padding-left: 25px;
}
.input3 {
  height: 140px;
  width: 600px;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  color: rgb(125, 20, 20);
  padding-left: 25px;
}
.input4 {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: rgb(125, 20, 20);
  font-size: 20px;
}
footer {
  color: lightgrey;
  background-color: rgb(51, 30, 30);
  margin: 0;
  padding: 20px;
}
footer span {
  color: rgb(183, 34, 114);
}
.p2 {
  position: relative;
  top: 20px;
  text-align: left;
}
.p3 {
  position: relative;
  text-align: right;
}


