* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 60px;
  position: relative;
  top: 200px;
  left: 300px;
}
.container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  gap: 100px;
  position: absolute;
}
.container > div {
  height: 150px;
  width: 150px;
  color: whitesmoke;
  background-color: rgb(74, 45, 67);
  font-size: 20px;
  border-radius: 20px;
  position: relative;
  top: 350px;
  left: 300px;
  text-align: center;
  align-items: center;
}
img {
  position: absolute;
  top: 200px;
  right: 7rem;
  height: 400px;
  width: 400px;
  border-radius: 20px;
}
div h4 {
  position: absolute;
  top: 60px;
  left: 55px;
}
div h5 {
  position: absolute;
  top: 60px;
  left: 35px;
}
footer {
  color: lightgrey;
  background-color: rgb(51, 30, 30);
  margin: 0;
  padding: 20px;
}
footer span {
  color: rgb(183, 34, 114);
}
.p2 {
  position: relative;
  top: 20px;
  text-align: left;
}
.p3 {
  position: relative;
  text-align: right;
}
